.menu-icon {
  background-image: url("/images/sprites/menu-spritemap.png?3e432c9593be494a8722ce2d39f4df8a");
  background-size: 32px 832px;
}
@media screen and (max-width: 992px) {
  .menu-icon {
    background-image: url("/images/sprites/menu-spritemap-992.png?3e432c9593be494a8722ce2d39f4df8a");
    background-size: 25px 650px;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon {
    background-image: url("/images/sprites/menu-spritemap-768.png?3e432c9593be494a8722ce2d39f4df8a");
    background-size: 20px 520px;
  }
}
.menu-icon-eb33bd8a6d166071940dceed54a352be {
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.menu-icon-319ae3bc95fbd2efccfbb7d88e038f93 {
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.menu-icon-4efe5973d967d4bbb19d2431c82b265c {
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
.menu-icon-b6b047353d9e92c452c5261abe1db381 {
  background-position: 0px -96px;
  width: 32px;
  height: 32px;
}
.menu-icon-ee0a684e1710a018f7efaaf60d7d7421 {
  background-position: 0px -128px;
  width: 32px;
  height: 32px;
}
.menu-icon-3ef7b0a2e714a448053ef59e5fb5489e {
  background-position: 0px -160px;
  width: 32px;
  height: 32px;
}
.menu-icon-300c510ffd5fba2365cf66ad67f96aaa {
  background-position: 0px -192px;
  width: 32px;
  height: 32px;
}
.menu-icon-b56cea84857260bd08d6a8abaeb66925 {
  background-position: 0px -224px;
  width: 32px;
  height: 32px;
}
.menu-icon-3a7ecd24a248988587b6939e5ac2d26e {
  background-position: 0px -256px;
  width: 32px;
  height: 32px;
}
.menu-icon-16e63c1b30facabe821b5d5fd516bba1 {
  background-position: 0px -288px;
  width: 32px;
  height: 32px;
}
.menu-icon-1259a63c434db4c643acd4f6d87881dd {
  background-position: 0px -320px;
  width: 32px;
  height: 32px;
}
.menu-icon-0d7887d0f5b67dd15abd05551730f1b2 {
  background-position: 0px -352px;
  width: 32px;
  height: 32px;
}
.menu-icon-30005bc87f0e29371648ae5499183d5a {
  background-position: 0px -384px;
  width: 32px;
  height: 32px;
}
.menu-icon-088296a2209902c23d7d3eb80010ada0 {
  background-position: 0px -416px;
  width: 32px;
  height: 32px;
}
.menu-icon-e2402cd696f2a2ed4cebfe704354804f {
  background-position: 0px -448px;
  width: 32px;
  height: 32px;
}
.menu-icon-1247062d9b14366da8b385c788d5ffa9 {
  background-position: 0px -480px;
  width: 32px;
  height: 32px;
}
.menu-icon-c7df6e4029ab8ac5cf0a7154e88d89f1 {
  background-position: 0px -512px;
  width: 32px;
  height: 32px;
}
.menu-icon-4cc96c95677577cfcc7549afc44562ff {
  background-position: 0px -544px;
  width: 32px;
  height: 32px;
}
.menu-icon-df9db3dc41465f070ed65fcb97e9eefb {
  background-position: 0px -576px;
  width: 32px;
  height: 32px;
}
.menu-icon-8aecad24fc36189bda1078d021722664 {
  background-position: 0px -608px;
  width: 32px;
  height: 32px;
}
.menu-icon-c6e53c8ce510e1f8cc9ac43e3b0ed0ae {
  background-position: 0px -640px;
  width: 32px;
  height: 32px;
}
.menu-icon-31d6883435b4c3ab9eb1369494c58561 {
  background-position: 0px -672px;
  width: 32px;
  height: 32px;
}
.menu-icon-a0063c47ab300c017f4b6a64b24d11c4 {
  background-position: 0px -704px;
  width: 32px;
  height: 32px;
}
.menu-icon-eff4ba52cd89a283ebea80f8adfed9f1 {
  background-position: 0px -736px;
  width: 32px;
  height: 32px;
}
.menu-icon-55bb99bccbbcbb8edfc42790a9a0c196 {
  background-position: 0px -768px;
  width: 32px;
  height: 32px;
}
.menu-icon-3024fa46072eabd9924ac3d7ab0467d3 {
  background-position: 0px -800px;
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 992px) {
  .menu-icon-eb33bd8a6d166071940dceed54a352be {
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-319ae3bc95fbd2efccfbb7d88e038f93 {
    background-position: 0px -25px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-4efe5973d967d4bbb19d2431c82b265c {
    background-position: 0px -50px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-b6b047353d9e92c452c5261abe1db381 {
    background-position: 0px -75px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-ee0a684e1710a018f7efaaf60d7d7421 {
    background-position: 0px -100px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-3ef7b0a2e714a448053ef59e5fb5489e {
    background-position: 0px -125px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-300c510ffd5fba2365cf66ad67f96aaa {
    background-position: 0px -150px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-b56cea84857260bd08d6a8abaeb66925 {
    background-position: 0px -175px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-3a7ecd24a248988587b6939e5ac2d26e {
    background-position: 0px -200px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-16e63c1b30facabe821b5d5fd516bba1 {
    background-position: 0px -225px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-1259a63c434db4c643acd4f6d87881dd {
    background-position: 0px -250px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-0d7887d0f5b67dd15abd05551730f1b2 {
    background-position: 0px -275px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-30005bc87f0e29371648ae5499183d5a {
    background-position: 0px -300px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-088296a2209902c23d7d3eb80010ada0 {
    background-position: 0px -325px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-e2402cd696f2a2ed4cebfe704354804f {
    background-position: 0px -350px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-1247062d9b14366da8b385c788d5ffa9 {
    background-position: 0px -375px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-c7df6e4029ab8ac5cf0a7154e88d89f1 {
    background-position: 0px -400px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-4cc96c95677577cfcc7549afc44562ff {
    background-position: 0px -425px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-df9db3dc41465f070ed65fcb97e9eefb {
    background-position: 0px -450px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-8aecad24fc36189bda1078d021722664 {
    background-position: 0px -475px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-c6e53c8ce510e1f8cc9ac43e3b0ed0ae {
    background-position: 0px -500px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-31d6883435b4c3ab9eb1369494c58561 {
    background-position: 0px -525px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-a0063c47ab300c017f4b6a64b24d11c4 {
    background-position: 0px -550px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-eff4ba52cd89a283ebea80f8adfed9f1 {
    background-position: 0px -575px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-55bb99bccbbcbb8edfc42790a9a0c196 {
    background-position: 0px -600px;
    width: 25px;
    height: 25px;
  }
  .menu-icon-3024fa46072eabd9924ac3d7ab0467d3 {
    background-position: 0px -625px;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon-eb33bd8a6d166071940dceed54a352be {
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-319ae3bc95fbd2efccfbb7d88e038f93 {
    background-position: 0px -20px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-4efe5973d967d4bbb19d2431c82b265c {
    background-position: 0px -40px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-b6b047353d9e92c452c5261abe1db381 {
    background-position: 0px -60px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-ee0a684e1710a018f7efaaf60d7d7421 {
    background-position: 0px -80px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-3ef7b0a2e714a448053ef59e5fb5489e {
    background-position: 0px -100px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-300c510ffd5fba2365cf66ad67f96aaa {
    background-position: 0px -120px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-b56cea84857260bd08d6a8abaeb66925 {
    background-position: 0px -140px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-3a7ecd24a248988587b6939e5ac2d26e {
    background-position: 0px -160px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-16e63c1b30facabe821b5d5fd516bba1 {
    background-position: 0px -180px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-1259a63c434db4c643acd4f6d87881dd {
    background-position: 0px -200px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-0d7887d0f5b67dd15abd05551730f1b2 {
    background-position: 0px -220px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-30005bc87f0e29371648ae5499183d5a {
    background-position: 0px -240px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-088296a2209902c23d7d3eb80010ada0 {
    background-position: 0px -260px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-e2402cd696f2a2ed4cebfe704354804f {
    background-position: 0px -280px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-1247062d9b14366da8b385c788d5ffa9 {
    background-position: 0px -300px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-c7df6e4029ab8ac5cf0a7154e88d89f1 {
    background-position: 0px -320px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-4cc96c95677577cfcc7549afc44562ff {
    background-position: 0px -340px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-df9db3dc41465f070ed65fcb97e9eefb {
    background-position: 0px -360px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-8aecad24fc36189bda1078d021722664 {
    background-position: 0px -380px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-c6e53c8ce510e1f8cc9ac43e3b0ed0ae {
    background-position: 0px -400px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-31d6883435b4c3ab9eb1369494c58561 {
    background-position: 0px -420px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-a0063c47ab300c017f4b6a64b24d11c4 {
    background-position: 0px -440px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-eff4ba52cd89a283ebea80f8adfed9f1 {
    background-position: 0px -460px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-55bb99bccbbcbb8edfc42790a9a0c196 {
    background-position: 0px -480px;
    width: 20px;
    height: 20px;
  }
  .menu-icon-3024fa46072eabd9924ac3d7ab0467d3 {
    background-position: 0px -500px;
    width: 20px;
    height: 20px;
  }
}
